<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../public/css/main.css">
</head>
<body>
    <ul class="flex justify-between bg-blue-500 p-3">
        <li><a href="/">Home</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/about">about</a></li>
        <li><a href="/service">service</a></li>
    </ul>
    <a href="/calculator">Calculator</a>
    <h1>this is home page</h1>
</body>
</html>