<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>User file Upload</h1>
  <form action="/user/profile"  method="post" enctype="multipart/form-data">
    <label for="name">Name:</label>
    <input type="text" name="name" id="name" placeholder="Enter your name">
    <label for="image">Image:</label  >
    <input type="file" name="image" id="image">
    <label for="video">Video:</label>
    <input type="file" name="video" id="video">
    <input type="submit" value="submit">
  </form>
</body>
</html>